MAILJET_API_KEY=
MAILJET_API_SECRET=
MAILJET_FROM_EMAIL=
MAILJET_FROM_NAME=OTP Service

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/callback
REDIRECT_AFTER_LOGIN=/dashboard

ENVIRONMENT=development

DATABASE_URL=postgresql+psycopg://postgres:password@db:5432/db

USE_REDIS=true
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0

JWT_SECRET=
JWT_REFRESH_SECRET=
APP_SECRET_KEY=
